@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    font-family:  "Open Sans", sans-serif;
}
/* banner-design */
.herobg{
    width: 100%;
    height: 652px;
    background-image: url("../images/Hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 78px;
}
.herobg-contain{
    display: flex;
    height: 652px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.herobg-contain h2{
    color: rgb(13, 19, 33);
font-size: 40px;
font-weight:bold;
text-align: center;
}
.herobg-contain p{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
text-align: center;
}
.herobg-btn{
    padding:15px 25px ;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}
/* why-section */
.why{
    width: 100%;
    height: 1400px;
}
.why-section{
    width: 1140px;
    height: 1393px;
    margin: 0 auto;
    
}
.why-section-contain{
    width: 946px;
height: 1233px;
margin: 80px 97px;
background-color:#FAFAFB;
}
.why-section-description{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.why-section-description h2
{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 2px;
}
.why-section-description p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 30px;
}
.contain-item-one{
    width: 946px;
    height: 336px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0px;
    
   
}
 .item-one-description{
   padding: 48px;
}
.item-one-img{
    padding: 48px;
}
.item-one-description h3{
    color: rgba(13, 19, 33, 0.7);

font-size: 24px;
font-weight: 700;

text-align: left;
}
.item-one-description p{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
text-align: left;
margin-top: 16px;
margin-bottom: 25px;
}
.item-one-description button{
    color: rgb(13, 19, 33);
padding: 12px 20px;
font-size: 20px;
font-weight: 500;
text-align: center;
}
.containe-item-two
{
    width: 946px;
    height: 336px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0px;
}
.item-two-img{
    padding: 48px;
}
.item-two-description{
    padding-top: 48px;
    padding-left: 0px;
    padding-bottom: 48px;
    padding-right: 110px;
}
.item-two-description h3{
    color: rgba(13, 19, 33, 0.7);

font-size: 24px;
font-weight: 700;

text-align: left;
}
.item-two-description p{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
text-align: left;
margin-top: 16px;
margin-bottom: 25px;
}
.item-two-description button{
    color: rgb(13, 19, 33);
padding: 12px 20px;
font-size: 20px;
font-weight: 500;
text-align: center;
}
.contain-item-three{
    width: 946px;
    height: 336px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0px;
}
.contain-item-three-description{
    padding: 48px;
}
.contain-item-three-img{
    padding: 48px;
}
.content-item-three-description p{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
text-align: left;
margin-top: 16px;
margin-bottom: 25px;
}
.content-item-three-description h3{
    color: rgba(13, 19, 33, 0.7);

    font-size: 24px;
    font-weight: 700;
    
    text-align: left;
}
.content-item-three-description button{
    color: rgb(13, 19, 33);
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
/* inspiration */
.inspiration{
    width: 100%;
    height: 775px;
    margin-bottom: 100px;
}
.inspiration-content{
    width: 1140px;
height: 775px;
margin: 0 auto;
}
.inspiration-contant-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.inspiration-contant-description h3{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 16px;
}
.inspiration-p{
    color:rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
text-align: center;
opacity: 0.7;
}
.inspiration-video{
    width: 1140px;
height: 614px;
margin-top: 30px;
}
.video{
    display: flex;
    padding: 25px;
    justify-content: center;
}
.video iframe{
    border-radius: 25px;
}
/* current-target */
.cureent-target{
    width: 100%;
    height: 465px;
   
    margin-bottom: 100px;
}
.current-target-contain{
    width: 1140px;
height: 460px;
margin: 0 auto;
}
.current-target-description h3{
    color: rgb(13, 19, 33);
font-size: 28px;
font-weight: bold;
text-align: center;
margin-top: 2px;
}
.current-target-description p{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
text-align: center;
opacity: 0.7;
margin-top: 24px;
margin-bottom: 80px;
}
.current-target-items{
    width: 1140px;
    height: 299px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.html{
    background-color: #FFF6F4;
    border-radius: 20px;
    padding: 25px;
    width: 280px;
height: 280px;
}
.html-h3{
    color: rgb(13, 19, 33);
font-size: 24px;
font-weight: 800;
text-align: left;
}
.html-p{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
text-align: left;
margin-top: 8px;
margin-bottom: 24px;
opacity: 0.7;
}
.html-button{
  border: none;
    background-color:transparent ;
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 700;
text-align: left;
text-decoration-line: underline;
}
.css{
    background-color: #F2F6FE;
    border-radius: 20px;
    padding: 25px;
    width: 280px;
height: 280px;

}
.js{
    background-color:#FFFDF2;
    border-radius: 20px;
    padding: 25px;
    width: 280px;
height: 280px;

}
/* footer */
.footer{
    width: 100%;
    height:315px ;
    margin-bottom: 80px;
}
.footer-villain{
    width: 1140px;
  height: 313px;
  margin:0 auto;
  background-image: url("../images/handshake.jpg"),linear-gradient(to bottom, rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2));
  border-radius: 16px;

background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-blend-mode: overlay;

}
.villain-content{
    display: flex;
    height:313px ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.villain-content h3{
    color: rgb(255, 255, 255);
font-size: 32px;
font-weight: 700;
text-align: center;
margin-bottom: 16px;
}
.villain-content p{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: center;
margin-bottom: 24px;
opacity: 0.7;
}
.textarea{
    height: 40px;
    width: 430px;
    border-radius: 10px;
    
}
.button{
    padding: 12px 30px;
    border-radius: 10px;
}
.villain-form{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.footer-tab{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-tab p{
    color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
text-align: center;
}
.icons{
    display: flex;
    gap: 24px;
}